/* profile.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.userInfo {
    text-align: center;
    margin-bottom: 30px;
}

.userInfo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.topName {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.topEMail {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.editProfile {
    padding: 10px 160px;
    font-size: 16px;
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editProfile:hover {
    background-color: #9e9e9e;
}

.inputsForm {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.inputsForm .sText {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    max-width: 800px;
}

.inputsForm form div {
    margin-bottom: 15px;
}

.inputsForm label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.inputsForm input {
    width: calc(50% - 24px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.inputsForm .subButton {
    text-align: right;
}

.inputsForm .subButton button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2878a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inputsForm .subButton button:hover {
    background-color: #236a94;
}